@use "../util/" as u;

.button {
  font-size: u.rem(14);
  font-weight: 700;
  border-radius: 60px;
  padding: 9px 24px;
  border: 3px solid var(--color-accent);
  transition: background 150ms ease-in-out, border 150ms ease-in-out,
    color 150ms ease-in-out;

  @include u.breakpoint(large) {
    font-size: u.rem(16);
  }

  &.primary {
    background: var(--color-accent);
    color: var(--color-bg);

    &:hover {
      background: var(--color-text);
      border-color: var(--color-text);
      color: var(--color-bg); // Optional: for contrast
    }
  }

  &.secondary {
    background: transparent; // optional, for clarity
    color: var(--color-accent);

    &:hover {
      background: var(--color-text);
      border-color: var(--color-text);
      color: var(--color-bg); // Optional: to ensure readable hover contrast
    }
  }
}
